.home-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Section 1 */
.home-section-1 {
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(225, 116, 251, 1) 0%,
    rgba(17, 124, 220, 1) 75%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home-section-1 .home-section-1-img {
  margin-top: -70px;
  width: 350px;
  border-radius: 2%;
}

.home-section-1-info {
  margin-top: -70px;
  margin-left: 10px;
  width: 30%;
}

.home-section-1-title,
.home-section-1-description {
  color: white;
}

.home-section-1-btns a:last-child {
  margin: 0 10px;
}

/* Colores del Button Saber mas */
.home-section-1-btns .section-1-btn2 {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
}

.home-section-1-btns .section-1-btn2:hover {
  background-color: #ff850f;
  border-color: #ff850f;
}

/* Media Queries: */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 630px) {
  .home-section-1 .home-section-1-img {
    width: 80%;
  }
  .home-section-1-info {
    margin-top: -140px;
    width: 90%;
  }
}
